---
import Card from "../components/cardnews.astro";
import Layout from "../components/Layout.astro";
import Heading from "../components/section-heading.astro";

const noticies = await Astro.glob("./noticies/*.md");
noticies.reverse();
const ultimes3Noticies = noticies.slice(0, 3);
---

<Layout pageTitle="Inici">
    <div class="foto_presentacio">
        <h1>JUNTS PER MASQUEFA</h1>
        <h2>Pel teu futur</h2>
    </div>
    <main>
        <div class="heading-container">
            <Heading nom="Notícies" />
        </div>
        
        <section class="Cards">
            {
                ultimes3Noticies.map((noticia) => (
                    <Card
                        imatge={noticia.frontmatter.image}
                        data={noticia.frontmatter.date}
                        titol={noticia.frontmatter.title}
                        resum_noticia={noticia.frontmatter.description}
                        link={noticia.url}
                    />
                ))
            }
        </section>
    </main>

    <style>
        .foto_presentacio {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            background: url("/foto-principal.jpg");
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-blend-mode: overlay;
            color: var(--colorBlanc);
            margin-bottom: 24px;
        }

        .foto_presentacio h1 {
            padding: 8px;
            background: var(--colorJunts);
            border-radius: 8px;
            margin: 0;
            margin-top: 400px;
            margin-bottom: 0px;
            font-size: 64px;
            font-weight: bold;
        }

        .foto_presentacio h2 {
            background: var(--colorJuntsLila);
            border-radius: 8px;
            padding: 0 24px;
        }

        .heading-container {
            display: flex;
            justify-content: center;
        }

        .Cards {
            display: flex;
            align-items: flex-start;
            justify-content: center; /* Alinear elementos al principio */
            flex-wrap: wrap; /* Impedir que los elementos se envuelvan */
            gap: 30px;
        }


        .carousel-button.prev {
            left: 0;
        }

        .carousel-button.next {
            right: 0;
        }
    </style>
</Layout>
