---
import { isJSDocUnknownType } from "typescript";
import Card from "../components/cardnews.astro";
import Layout from "../components/Layout.astro";

const noticies = await Astro.glob("./noticies/*.md");
---

<Layout pageTitle="Noticies">
	<div class="heading-container">
		<h2 class="section-heading">Notícies</h2>
	</div>

	<div class="Cards">
		{
			noticies.map((noticia) => (
				<Card
					imatge={noticia.frontmatter.image}
					data={noticia.frontmatter.date}
					titol={noticia.frontmatter.title}
					resum_noticia={noticia.frontmatter.description}
					link={noticia.url}
				/>
			))
		}
	</div>

	<style>
		.Cards {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-wrap: wrap;
		}

		.heading-container {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.heading-container:hover {
			cursor: pointer;
		}

		.section-heading {
			display: block;
			padding: 4px 32px;
			margin: 8px;
			margin-top: 28px;
			margin-bottom: 20px;
			border-left: 3px solid black;
			border-right: 3px solid black;
			transition: all 0.4s;
			text-transform: uppercase;
		}

		.section-heading:hover {
			padding: 4px 54px;
			background: var(--colorJunts);
		}
	</style>
</Layout>
