---
import { isJSDocUnknownType } from "typescript";
import Card from "../components/cardnews.astro";
import Layout from "../components/Layout.astro";
import Heading from "../components/section-heading.astro";

const noticies = await Astro.glob("./noticies/*.md");
noticies.reverse();
---

<Layout pageTitle="Noticies">
	<div class="divider100">
	</div>

	<div class="heading-container">
		<Heading nom="Notícies" />
	</div>

	<div class="Cards">
		{
			noticies.map((noticia) => (
				<Card
					imatge={noticia.frontmatter.image}
					data={noticia.frontmatter.date}
					titol={noticia.frontmatter.title}
					resum_noticia={noticia.frontmatter.description}
					link={noticia.url}
				/>
			))
		}
	</div>

	<style>
		.divider100 {
			height: 100px;
		}

		.heading-container {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.Cards {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-wrap: wrap;
			gap: 30px;
		}
	</style>
</Layout>
