---
interface Props {
    imatge: string;
    data: string;
    titol: string;
    resum_noticia: string;
    link: string;
}

const { imatge, data, titol, resum_noticia, link } = Astro.props;
---

<div class="card">
    <div class="card-image">
        <img src={imatge} alt="Imatge de la notícia" />
    </div>

    <div class="card-description">
        <p class="data">{data}</p>
        <h3>{titol}</h3>
        <p class="resumNoticia">{resum_noticia}</p>
        <a href={link} class="btn-readmore">Llegeix</a>
    </div>
</div>

<style>
    .card {
        width: 318px;
        max-width: 318px;
        display: inline-block;
        flex-direction: column;
        align-items: center;
        margin: 8px;

        border-radius: 12px;
        background: var(--colorBlanc);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    }

    .card-image img {
        height: 220px;
        width: 318px;
        align-self: stretch;
        border-radius: 12px 12px 0px 0px;
        padding: none;
    }

    .card-description {
        display: block;
        padding: 0px 12px 12px 12px;
        flex-direction: column;
        justify-content: center;
        border-radius: 12px;
    }

    .card-description h3 {
        color: var(--colorJunts);
        font-family: "Roboto", sans-serif;
    }

    .card-description p {
        text-align: justify;
        font-family: "Roboto", sans-serif;
    }

    .data {
        font-size: 13px;
        color: var(--colorJuntsLila);
        font-family: "Roboto", sans-serif;
    }

    /* Button Read more */
    .btn-readmore {
        padding: 8px 24px;
        border: 2px solid black;
        border-radius: 0px 0px 0px 12px;
        transition: 0.4s;
        display: inline-block;
        font-weight: bold;
        cursor: pointer;
        background: white;
        text-decoration: none;
        color: black;
        font-family: "Roboto", sans-serif;
    }

    .btn-readmore:hover {
        background: var(--colorJunts);
        padding: 8px 64px 8px 24px;
        border-radius: 0px 12px 12px 12px;
    }
</style>
